<%- include("header") -%>

    <div class="wrapper">
        <header>
            <img class = 'hero1' src="img/watching.png" alt="">
            <h1>Let's build a blissful haven for our elders.</h1>
            <!-- <h1>hello</h1> -->
        </header>
        <div class="section-strip">
            <div>
                <h2>Our aim</h2>
                <section> <b>Anpara</b> aims to bridge the longing for ancestral roots and familial bonds by fostering the 
                reminiscent of village life. Through <em>cultural events, heritage preservation, health 
                    services and get togethers</em>, it strives to rekindle the cherished connection to grandparents 
                and hometowns, nurturing a collective sense of belonging.</section>
            </div>
            <div class="media-container">
                <img  class="im1" src="img/bg1.png" alt="">
            </div>
        </div>

        <div class="section-strip1">
            <h2>What we do</h2>
            <div class="card-container">
                <div class="card">
                    <img src="img/img1.jpg" alt="">
                    <h4>Celebrations</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="card">
                    <img src="img/img2.webp" alt="">
                    <h4>Cultural Events</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="card">
                    <img src="img/img3.jpg" alt="">
                    <h4>Multipurpose Hall</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="card">
                    <img src="img/img4.jpg" alt="">
                    <h4>On Demand Kitchen</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="card">
                    <img src="img/img5.jpg" alt="">
                    <h4>Elderly Care</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
        </div>
        
        <div class="section-strip2">
            
            <div class="media-container">
                <img  class="im2" src="img/bubbles.jpg" alt="">
            </div>
            <div>
                <h2>Why choose us</h2>
                <section class="hidden">We are   <em>India’s 1st</em> service rendering start-up for old age people.</section> 
                <section class="hidden" > We are <em>specialised in rendering services</em>, for this we have done a deep research with researchers 
                    from different backgrounds.</section>
                
                <section class="hidden">We act as a <em>bridge</em> between the service provider organisation and 
                    family to ensure a comfortable and happy life for members
                     of Happy Home.</section>   
            </div>
        </div>

        <div class="section-strip">
            <div>
                <h2>Our aim</h2>
                <section> Anpara aims to bridge the longing for ancestral roots and familial bonds by fostering the 
                reminiscent of village life. Through cultural events, heritage preservation, health 
                services and get together, it strives to rekindle the cherished connection to grandparents 
                and hometowns, nurturing a collective sense of belonging.</section>
            </div>
            <div class="media-container">
                <img  class="im3" src="img/gang.webp" alt="">
            </div>
        </div>

    
<%- include("footer") -%>

